<div class="aut">
    <h1 class="author__heading">
        Search Results
    </h1>
</div>


<section class="articles">

    <ul class="article-ul">


        <% data.forEach(item => { %>
        
        <li>
            <a href="/post/<%=item._id %>">
                <span> <%= item.title %> </span>
                <span class="article-list__date"> <%= item.createdAt %> </span>
            </a>
        </li>

        <% }) %>

    </ul>
</section>